/* header */

header {
    background-color: var(--dark-green);
}

header nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav ul {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 72px;
}

header img {
    padding-right: 102px;
    height: 72px;
}

header a {
    font-family: 'Arima';
    font-size: 1.5rem;
    font-weight: 700;

    color: var(--white);
}

/* main */

.hero {
    height: 520px;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--brown);
}

h2 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 3.25rem;
    color: var(--dark-green);
    display: flex;
    gap: 8px;
    align-items: center;
}

h2 img {
    height: 48px;
}

.highlights p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 88px;
    color: var(--brown);
}

.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}


.slider {
    width: 100%;
    height: 540px;
    background-color: var(--brown);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    gap: 16px;
    position: relative;
    border-top-right-radius: 100px;
}

.slider input {
    z-index: 2;
    margin-bottom: 24px;
}

.slider-wrapper {
    position: absolute;
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 1s ease-in-out;

}

.slider-wrapper>a {
    height: 100%;
    width: calc(100% / 3);

}

.slider-img {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;


}

.slider-one {
    background-image: url("./assets/img/carousel-img.jpg");

}

.slider-two {
    background-image: url("./assets/img/video-img.jpg");

}

.slider-three {
    background-image: url("./assets/img/graph-img.jpg");
}

.slider input[value="one"]:checked~.slider-wrapper {
    transform: translateX(calc(100% / 3));
}

.slider input[value="two"]:checked~.slider-wrapper {
    transform: translateX(0);
}

.slider input[value="three"]:checked~.slider-wrapper {
    transform: translateX(calc(-100% / 3));
}

.description-highlights {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    padding: 16px 24px;
    max-width: 880px;
    border-left: white 1px solid;
    border-right: white 1px solid;
    margin: 54px 38px;
}

.description-highlights h3 {
    font-size: 600;
    font-size: 3rem;
    color: var(--white);
    font-family: 'Palanquin Dark';
}

.description-highlights p {
    font-size: 1.75rem;
    color: var(--white);
    text-align: start;
    margin-bottom: 0;
    margin-top: 8px;

}


/* FAQ */
.faq {
    width: 100%;
    margin-top: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

details {
    background-color: var(--yellow);
    border-radius: 12px;
    padding: 16px 14px;
    width: 100%;
    max-width: 1200px;
}

summary {
    font-size: 1.5rem;
    font-weight: 700;
    list-style: none;
    color: var(--brown);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

details[open] p {
    color: var(--brown);
    text-align: left;
    background-color: white;
    font-size: 1rem;

    padding: 4px 10px;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.arrow-faq {
    width: 24px;
    margin-left: 8px;
    transition: transform 200ms;
}

details[open] .arrow-faq {
    transform: rotate(-180deg);
}

/* footer */
footer {
    background-color: var(--dark-green);

    display: flex;
    justify-content: space-between;

    font-family: 'Palanquin';
    font-weight: 400;
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
}

.footer-left img {
    height: 24px;
    padding-right: 4px;
}

.footer-left p {
    color: var(--white);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

.footer-left ul,
a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
}

.footer-left a {
    font-size: 1rem;
    color: var(--white);
}

.footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-right img {
    height: 32px;
}

/* Contact */
.contact-form {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-row {
    width: 100%;

    display: flex;
    gap: 64px;
}

.name,
.email {
    width: 50%;
    margin-bottom: 50px;

}

.message {
    width: 100%;
}

.field input {
    border: none;
    border-bottom: 1px solid var(--brown);
    outline: none;

    margin-top: 17px;
    width: 100%;
}


.field label {

    font-family: 'Palanquin';
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--brown);
}

.check-policy {
    align-items: center;
    margin-top: 16px;
    margin-bottom: 50px;

    text-align: center;
    font-size: 0.5rem;
}

.check-policy label {
    font-size: 0.93rem;
    color: var(--brown);
}

label a {
    display: inline;
    color: #4EA487;
}

button {
    width: 139px;
    height: 48px;
    background-color: white;
    border-radius: 40px;
    border: 1px solid #30303080;
    padding: 10px;

    font-family: 'Arima';
    font-size: 1.5rem;
    font-weight: 700;
    color: #737373;
}