/* header */

header {
    background-color: var(--dark-green);
}

header nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav ul {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 72px;
}

header img {
    padding-right: 102px;
    height: 72px;
}

header a {
    font-family: 'Arima';
    font-size: 1.5rem;
    font-weight: 700;

    color: var(--white);
}

/* NAVIGATION HOVER  */
nav ul li a {
    position: relative;
    display: inline-block;
}


nav ul li a::after {
    content: "";
    position: absolute;

    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.2s ease;
}

.highlights a::after {
    background-image: url("./assets/icons/ahover-highlights.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    width: 120px;
    height: 20px;

    left: 50%;
    bottom: -2px;
}

.faq a::after {
    background-image: url("./assets/icons/ahover-faq.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    width: 60px;
    height: 10px;

    left: 50%;
    bottom: -2px;

}

.contact a::after {
    background-image: url("./assets/icons/ahover-contact.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    width: 100px;
    height: 20px;

    left: 50%;
    bottom: -2px;

}

nav ul li a:hover::after {
    opacity: 1;
}


/* NAVIGATION ACTIVE */
a:active {
    color: var(--yellow);
}

.highlights a:active,
.faq a:active,
.contact a:active {
    background-image: none;
}

/* main */

.hero {
    height: 64vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding: 0px max(calc(50% - 960px), 146px); */
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    z-index: 2;
    max-width: 320px;
    animation: textSlideLeft 1s ease-out both;
    animation-delay: 1.6s;
}

@keyframes textSlideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-30vw);
    }
}

h1 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--brown);
}

.text>p {
    font-weight: 500;
    font-size: 1.75rem;
    color: var(--brown);
}

.text h1,
.text p {
    animation: slideUp 1s ease-out both;
}

.text h1 {
    animation-delay: 0.2s;
}

.text p {
    animation-delay: 0.5s;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.bg-yellow {
    background-color: var(--yellow);
    height: 95%;
    width: 100%;
    z-index: 1;
}

.bg-svg {
    height: 100%;
    width: 200%;
    left: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    animation: slideLeft 1.4s ease-out both 2s;
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-72%);
    }
}

.bg-img {
    width: 100%;
    position: absolute;
    top: 0;
    height: 95%;
    object-fit: cover;
    padding-left: 32vw;
}

.bg-animation {
    position: relative;
}

.bg-animation>img {
    height: 100%;
}

.circle {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    animation: slideInUp 1.6s ease-in 2.4s both;
}

.circle img {
    position: absolute;

    z-index: 3;
}

.circle svg {
    animation: rotateDiv linear 8s infinite;
}

@keyframes rotateDiv {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideInUp {
    from {
        bottom: -100%;
        opacity: 0;
    }

    to {
        bottom: 24%;
        opacity: 1;
    }
}

h2 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 3.25rem;
    color: var(--dark-green);
    display: flex;
    gap: 8px;
    align-items: center;
}

h2 img {
    height: 48px;
}

.highlights p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 88px;
    color: var(--brown);
}

.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}


.slider {
    width: 100%;
    height: 540px;
    background-color: var(--brown);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    gap: 22px;
    position: relative;
    border-top-right-radius: 100px;
}

.slider input {
    z-index: 2;
    margin-bottom: 54px;
}

.slider-wrapper {
    position: absolute;
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 1s ease-in-out;

}

.slider-wrapper>a {
    height: 100%;
    width: calc(100% / 3);

}

.slider-img {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;


}

.slider-one {
    background-image: url("./assets/img/carousel-img.jpg");

}

.slider-two {
    background-image: url("./assets/img/video-img.jpg");

}

.slider-three {
    background-image: url("./assets/img/graph-img.jpg");
}

.slider input[value="one"]:checked~.slider-wrapper {
    transform: translateX(calc(100% / 3));
}

.slider input[value="two"]:checked~.slider-wrapper {
    transform: translateX(0);
}

.slider input[value="three"]:checked~.slider-wrapper {
    transform: translateX(calc(-100% / 3));
}

.description-highlights {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    padding: 16px 24px;
    max-width: 880px;
    border-left: white 1px solid;
    border-right: white 1px solid;
    margin: 54px 38px;
}

.description-highlights h3 {
    font-size: 600;
    font-size: 3rem;
    color: var(--white);
    font-family: 'Palanquin Dark';
}

.description-highlights p {
    font-size: 1.75rem;
    color: var(--white);
    text-align: start;
    margin-bottom: 0;
    margin-top: 8px;

}

.slider input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    transition: background 0.2s;
}

.slider input[type="radio"]:checked {
    width: 40px;
    background-color: var(--yellow);
    border-radius: 20px;
}


/*  ------------------ FAQ ------------------ */
.faq-section {
    width: 100%;
    margin-top: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

details {
    background-color: var(--yellow);
    border-radius: 12px;
    padding: 16px 14px;
    width: 100%;
    max-width: 1200px;
}

summary {
    font-size: 1.5rem;
    font-weight: 700;
    list-style: none;
    color: var(--brown);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

details[open] p {
    color: var(--brown);
    text-align: left;
    background-color: white;
    font-size: 1rem;

    padding: 4px 10px;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.arrow-faq-section {
    width: 24px;
    margin-left: 8px;
    transition: transform 200ms;
}

details[open] .arrow-faq-section {
    transform: rotate(-180deg);
}




/* ------------------ Contact ------------------  */
.contact-form {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    width: 100%;

    display: flex;
    gap: 64px;
}

.name,
.email {
    width: 50%;
    margin-bottom: 50px;
}

.message {
    width: 100%;
}

.field input {
    border: none;
    border-bottom: 1px solid var(--brown);
    outline: none;

    margin-top: 17px;
    width: 100%;
}

.field label {
    font-family: 'Palanquin';
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--brown);
}

.check-policy {
    align-items: center;
    margin-top: 16px;
    margin-bottom: 50px;

    text-align: center;
    font-size: 0.5rem;
}

.check-policy label {
    font-size: 0.93rem;
    color: var(--brown);
}

label a {
    display: inline;
    color: #4EA487;
}

/* check-container */
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #737373;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: var(--yellow);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: var(--dark-green);
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--yellow);

    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* aus dem user agent stylesheet kopiert und blauer hintergrund weg*/
input:-internal-autofill-selected {
    background-color: none;
}

button {
    width: 139px;
    height: 48px;
    padding: 10px;

    border: 1px solid #30303080;
    border-radius: 40px;

    background-color: white;
    color: #737373;

    font-family: 'Arima';
    font-size: 1.5rem;
    font-weight: 700;
}

.contact-form:valid button {
    border: none;
    background-color: var(--dark-green);
    color: var(--yellow);
    cursor: pointer;
}

.contact-form:valid button:hover {
    /* https://smoothshadows.com/#djEsMiw1LDAuMTIsNTYsMTIsMTcsIzAzMDcxMiwjZjNmNGY2LCNmZmZmZmYsMg%3D%3D */
    box-shadow: 1px 0px 2px rgba(3, 7, 18, 0.12),
        3px 2px 9px rgba(3, 7, 18, 0.10),
        6px 4px 20px rgba(3, 7, 18, 0.07),
        11px 8px 36px rgba(3, 7, 18, 0.05),
        17px 12px 56px rgba(3, 7, 18, 0.02);
}

/* ------------------ footer ------------------ */
footer {
    background-color: var(--dark-green);

    display: flex;
    justify-content: space-between;

    font-family: 'Palanquin';
    font-weight: 400;
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
}

.footer-left img {
    height: 24px;
    padding-right: 4px;
}

.footer-left p {
    color: var(--white);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

.footer-left ul,
a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
}

.footer-left a {
    font-size: 1rem;
    color: var(--white);
}

.footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-right img {
    height: 32px;
}

.nav-handy {
    display: none;
}


/* ----------- RESPONSIVE ---------- */

/* handy bis Laptops */

@media screen and (max-width:1280px) {

    .bg-img {
        padding-left: 40vw;
    }

    @keyframes slideLeft {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-64%);
        }
    }

    @keyframes textSlideLeft {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-24vw);
        }
    }
}


/* handy bis Tablets */
@media screen and (max-width:768px) {
    nav ul {
        display: none;
    }

    nav {
        justify-content: center;
    }

    nav img {
        padding: 0px;
    }

    footer {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        margin-bottom: 88px;
    }

    .footer-left {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
    }

    .footer-left img {
        height: 20px;
        padding-right: 4px;
    }

    .footer-right {
        align-items: flex-end;
    }

    .footer-left ul,
    a {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .nav-handy {
        background-color: var(--yellow);
        padding: 24px 25px;
        width: 100%;

        display: flex;
        justify-content: space-between;

        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 100;

    }

    .nav-handy img {
        height: 40px;
    }

    .text {
        max-width: 40vw;
    }

    .bg-img {
        padding-left: 24vw;
    }

    @keyframes textSlideLeft {
        from {
            transform: translateX(0);
            opacity: 0;
        }

        to {
            transform: translateX(-22vw);
            opacity: 1;
        }
    }

    @keyframes slideLeft {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-60%);
        }
    }

}



/* handy */
@media screen and (max-width:480px) {
    nav img {
        height: 56px;
    }

    .form-row {
        flex-direction: column;
        gap: 0px;
    }

    .name,
    .email {
        width: 100%;
    }

    .bg-img {
        padding-left: 0;
    }

    .bg-svg {
        top: -320px;
        animation-delay: 4.2s;
    }

    .circle {
        left: 64%;
        animation-delay: 5.6s
    }

    .text {
        animation-duration: 2.4s;
    }

    @keyframes textSlideLeft {
        0% {
            transform: translateX(-16vw);
            opacity: 0;
        }

        8% {
            transform: translateX(-16vw);
            opacity: 1;
        }

        80% {
            transform: translateX(-16vw);
            opacity: 1;
        }


        100% {
            transform: translateX(-16vw);
            opacity: 0;
        }
    }

    @keyframes slideInUp {
        from {
            bottom: 8%;
            opacity: 0;
        }

        to {
            bottom: 8%;
            opacity: 1;
        }
    }

    @keyframes slideLeft {
        from {
            transform: translateX(0);
            top: 0;
        }

        to {
            transform: translateX(-56%);
            top: -320px;
        }
    }

    .description-highlights p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    .description-highlights {
        margin: 80px 16px;
    }

    .slider input {
        margin-bottom: 32px;
    }
}

/* IMPRINT */

.imprint {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    flex-grow: 1;
}

.source {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.source a{
    font-family: 'Arima';
    font-weight: 600;
    color: var(--dark-green);
    text-decoration: underline;
}

.source a {
    font-weight: 700;
}