/* arima-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Arima';
    font-style: normal;
    src: url('../assets/font/Arima/Arima-VariableFont_wght.ttf') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/Palanquin/Palanquin-Regular.ttf') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/font/Palanquin/Palanquin-Medium.ttf') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/font/Palanquin_Dark/PalanquinDark-SemiBold.ttf') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}