.headline-info {
    display: flex;
    flex-direction: row;
    gap: 26px;
}

.eyebrow {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--dark-green);
    margin-bottom: 8px;
}

h1 {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 4rem;
    color: var(--yellow);
}

.description {
    font-size: 1.75rem;
    padding-top: 8px;
}

dl {
    margin-top: 40px;
    display: flex;
    gap: 32px;
}

dl>div {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.calender-icon {
    width: 16px;
}

.eyeglass-icon {
    width: 20px;
}

.visibility-icon {
    width: 20px;
}

.share-icon {
    width: 16px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    height: 120px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 16px;
}

figcaption {
    font-family: 'Arima';
    font-weight: 700;
    font-size: 1.25rem;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption p {
    font-weight: 400;
}

.author-info {
    background-color: var(--light-green);
    padding: 16px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

}

.author-info>p {
    width: 240px;
}

.text-article {
    font-size: 1.5rem;
}

.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph h2 {
    font-family: 'Arima';
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 24px;
}

.graph img {
    width: 640px;
    border-radius: 53px;
    filter: drop-shadow(-2px 4px 11.6px rgba(0, 0, 0, 0.25));
}

.graph p {
    margin-top: 88px;
    font-size: 1.5rem;
}

.two-graphs {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}

.two-graphs-img {
    width: 520px !important;
    height: 470px;
    object-fit: cover;
}

.two {
    width: 520px;
}

.two p {
    margin-top: 0;
    margin-bottom: 24px;
    flex-grow: 1;
}

.first {
    margin-top: -40px;
}

.share-cta {
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
}

.share-cta p {
    text-align: center;
}

.share-btn {
    background-color: var(--dark-green);
    color: var(--yellow);
    font-family: 'Arima';
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 40px;
    padding: 8px 24px;
    width: fit-content;
    height: 48px;
}

.share-btn img {
    margin-right: 10px;
    width: 32px;
}

.arrow {
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.hidden-div {
    display: none;
    gap: 8px;
    align-items: center;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.hidden-div ul{
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.share-cta input:checked~.hidden-div {
    display: flex;
    opacity: 1;
}

.share-cta input:checked~.share-btn img {
    display: none;
}

.hidden-div a {
    font-family: 'Arima';
    text-decoration: underline;
    font-weight: 600;
    color: var(--dark-green);
}

.hidden-div img {
    width: 24px;
}

.cta {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 1279px) {
    .two-graphs {
        flex-direction: column;
    }

    .two {
        width: 100%;
    }

    .headline-info {
        flex-direction: column;
    }

    .author-info {
        max-width: 400px;
    }

    .author-info>p {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {}