* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-size: clamp(10px, 1.8vw, 16px);
    font-family: 'Palanquin';
    line-height: 120%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cwp-padding {
    padding: 32px max(calc(50% - 720px), 120px);
}


.bt-padding {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 88px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 120px;
}



/* ----------- RESPONSIVE ---------- */

/* Laptops */

@media screen and (min-width:769px) and (max-width:1280px) {

    .cwp-padding {
        padding: 32px max(calc(50% - 720px), 80px);
    }
}


/* Tablets */
@media screen and (min-width:481px) and (max-width:768px) {

    .cwp-padding {
        padding: 24px max(calc(50% - 720px), 48px);
    }

    .bt-padding {
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 60px;
    }
}


/* handy */
@media screen and (max-width:480px) {

    .cwp-padding {
        padding: 8px max(calc(50% - 720px), 16px);
    }

    .bt-padding {
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 40px;
    }
}